verilator
sim_build
__pycache__
results.xml
*.None
*.odg#
new.hex
# test.hex
temp.py
*.vcd
gpio.hex
gpio.o
*.tex
*.jou
*.log
.Xil
HOLY_SOC
*str
*.ila
riscv-arch-test
# config.ini
riscof_work
*.signature
my.*
*.elf
*.bin
my.*
hello.hex
*.o
*.a
test.sh
venv
site/
output/
test.D
.vscode
bootloader.tcl
doom-*